@{
    ViewData["Title"] = "Instructions for use";
}
<h1>@ViewData["Title"]</h1>

<p>
    This is a simple web app meant to demonstrate ASP.NET functionality.
    Page Entries contains an overview of data entries with a title and description. To be able to access this page you need to be logged in.
    Page Register  will lead you to a form where you can input an arbitrary e-mail and password to store those credentials in the database.
    These credentials are stored locally. No form of e-mail verification is required.
    You can then log in using those same credentials via the login page.
</p>
